body {
    background: aliceblue;
}

.project-btn-primary {
    background-color: #FDB44B!important;
    border-color: black!important;
    color: black;
}

.project-btn-secondary {
    background-color: black!important;
    border-color: black!important;
}