.navbar {
    background-color: deepskyblue;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-weight: 600;
}

.navbar-nav .d-flex {
    margin-left: auto;
    width: 60%;
}

.navbar-nav .nav-item {
    width: 110px;
    text-align: center;
    background: white;
    color: black;
    /* border-radius: 30px; */
    /* margin: 0px 20px 0px 20px; */
    padding: 0px 0px 4px 0px;
}

.navbar-nav .nav-item .nav-link {
    color: black !important;
}