body {
  background: aliceblue
}

.card-title {
  text-align: center;
  padding-bottom: 5%;
}

.btn-login {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.row {
  margin-top: 7%;
}

input:invalid {
  /* border: 1px solid red; */
}

.login-error {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.btn-success {
  background-color: black!important;
}

.btn-primary {
  background-color: black;
}